# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json

# Build artifacts
build/
dist/
*.egg-info/
*.so
*.egg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
GEMINI.md
csaf_validator/samples/*.json
